html,body{
    height: 100%;
    width: 100%;
    font-size: 'Roboto' , sans-serif;
}
.container{
    background-color: rgb(60, 60, 60);
    width: 300px;
    border: 2px solid black;
    border-radius: 9px;
}
.button{
    width:66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    box-shadow:2px 5px 1px #ffa500;
    color: white;
    background-color:#686868;
}
.row{
    margin: 8px 0;
}
.row input{
    height: 50px;
    width: 290px;
    font-size: 40px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 9px;
    box-shadow:2px 5px 1px #ffa500;
    background-color: #a0a0a0;
    color: white;
}
.row button#equal{
    width: 140px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.mx-auto{
    margin: auto;
}
.flex{
display: flex;
}
.flex-col{
flex-direction: column;
}
.items-center{
    align-items: center;
}
